.ag-theme-alpine .ag-header-cell.header-group-0 {
  background-color: #e0f7fa;
}

.ag-theme-alpine .ag-header-cell.header-group-1 {
  background-color: #ffe0b2;
}

.ag-theme-alpine .ag-header-cell.header-group-2 {
  background-color: #dcedc8;
}

.ag-theme-alpine .ag-header-cell.header-group-3 {
  background-color: #f8bbd0;
}

.ag-theme-alpine .ag-header-cell.header-group-4 {
  background-color: #c5cae9;
}

/* usw. wenn du noch mehr Gruppen willst */
