
.ag-theme-alpine .header-Call_ID         { background-color: #7e57c2 !important; color: white; font-weight: bold; }
.ag-theme-alpine .header-Ort            { background-color: #c8e6c9 !important; font-weight: bold; }
.ag-theme-alpine .header-Magische_Relevanz { background-color: #dcedc8 !important; font-weight: bold; }
.ag-theme-alpine .header-Gebäude        { background-color: #ffffff !important; font-weight: bold; }
.ag-theme-alpine .header-Bauteil        { background-color: #dcedc8 !important; font-weight: bold; }
.ag-theme-alpine .header-Gewicht        { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Material       { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Größe          { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Spell          { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Hersteller     { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Lieferant      { background-color: #bbdefb !important; font-weight: bold; }
.ag-theme-alpine .header-Einbauort      { background-color: #dcedc8 !important; font-weight: bold; }
.ag-theme-alpine .header-Beschreibung   { background-color: #ffe0b2 !important; font-weight: bold; }
.ag-theme-alpine .header-Revision       { background-color: #ffffff !important; font-weight: bold; }
